@model Twitter.Models.Post

<div class="container col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
    <h4>
        Published by: @Html.DisplayFor(model => model.Publisher)
    </h4>
    <p>
        @Html.DisplayFor(model => model.Title)
        <br />
        @Html.DisplayFor(model => model.Body)
    </p>
    <br />
    <p>
        Published on: @Html.DisplayFor(model => model.PublishedOn)
    </p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</div>