@model IEnumerable<Twitter.Web.Models.UsersFollowedVM>

@{
    ViewBag.Title = "FindUsers";
}

<h2>FindUsers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input data-userid="@item.Id" type="submit" value='@(item.AlreadyFollowing? "Followed": "Follow")' class="btn follow @(item.AlreadyFollowing? "btn-primary": "")" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $('.follow').click(function () {
            var button = $(this);
            var userid = button.data('userid');

            var buttonText = button.prop('value');
            console.log(buttonText);
            if (buttonText == "Follow" || buttonText == "Unfollowed") {
                $.ajax({
                    method: "POST",
                    url: "/posts/followuser",
                    data: { id: userid }
                })
                  .done(function (msg) {
                      if (msg == "OK") {

                          button.removeClass("btn-danger");
                          button.addClass("btn-primary");
                          button.prop('value', 'Followed');
                      }
                  })
            };


            if (buttonText == "Followed") {
                $.ajax({
                    method: "POST",
                    url: "/posts/unfollowuser",
                    data: { id: userid }
                })
                  .done(function (msg) {
                      if (msg == "OK") {
                          button.removeClass("btn-primary");
                          button.addClass("btn-danger");
                          button.prop('value', 'Unfollowed');
                      }
                  })
            };


        });

    </script>

}
