@model IEnumerable<Twitter.Web.Models.UsersFollowedVM>

@{
    ViewBag.Title = "Followed";
}

<h2>Followed</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            <div class="form-group"><input class="hidden" value="@Html.DisplayFor(modelItem => item.Id)" /></div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Unfollow" class="btn btn-default" />
                </div>
            </div>
        </td>
    </tr>
}

</table>
